<div class="mybg-gradient">
  <div class="container pt-5">
    <div class="row pt-5">
      <div class="col-12">
        <h1 class="text-center">Mes contenus</h1>
        <p>Ma progression:</p>
        <p class="d-inline"><strong>Etape </p><p class="d-inline" ><%= @current_step %></strong></p>
        <div class="progress my-5 my-shadow">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow=<%= (@current_step * 14.2857142857 - 14.2857142857).to_s %> aria-valuemin="0" aria-valuemax="100" style="width: <%= (@current_step * 14.2857142857 - 14.2857142857).to_s %>%"></div>
        </div>
      </div>
    </div>
  </div>
</div><br>

<p id="data-cs" data-cs=<%= @current_step %> ></p>
<div class="containerSwiper">
    <div class="timelineSwiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <% for step in 0..6 %>
                  <div class="swiper-slide" style="background-image: url(https://unsplash.it/1920/500?image=11" data-year="Step <%= step + 1 %>">
                      <div class="swiper-slide-content"><span class="timeline-year">Step <%= step + 1 %></span>
                          <h4 class="timeline-title"><%= @steps[step].title %></h4>
                          <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      </div>
                  </div>
                <% end %>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>




  </div>
</div>
