<div class="my_header">
  <h1>Mon contenu</h1>

  <p><%= current_user.name %></p>

  <div>
    <p>progress bar </p>
  </div>
</div><br>

<div class="subbody">
  <div class="timeline">

<% for step in (6).downto(0) %>

  <div class="hidden_part">

    <div class="container right">
      <div class="content">
        <h2>Step <%= 8 - (step + 1) %></h2>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>Article</h2>
        <strong><%= @articles[step].title[0..60] + "..." %></strong><br>
        <%= image_tag(@articles[step].image, class: "vignette") %>
        <p class="para"><%= @articles[step].content[0..200] + "..." %></p><br>
        <%= link_to "Voir", article_path(@articles[step].id), class: "btn btn-primary" %>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>Video</h2>
        <%= image_tag @videos[step].picture, class: "small_vignette" %>
        <%= link_to "Voir", video_path(@videos[step].id), class: "btn btn-primary" %>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2>Coach</h2>
        <strong><%= @coachs[step].email %></strong><br>
        <%= image_tag(@coachs[step].photo_url, class: "small_vignette") %>
        <%= link_to "Prendre rendez-vous", coach_path(@coachs[step].id), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
  </div>
</div>
