<div>
  <div class="container pt-5">
    <div class="row pt-5">
      <div class="col-12">
        <h1 class="text-center">Mes contenus</h1>
        <p>Ma progression:</p>
        <p class="d-inline"><strong>Etape </p><p class="d-inline" ><%= @current_step %></strong></p>
        <div class="progress my-5 my-shadow">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow=<%= (@current_step * 14.2857142857 - 14.2857142857).to_s %> aria-valuemin="0" aria-valuemax="100" style="width: <%= (@current_step * 14.2857142857 - 14.2857142857).to_s %>%"></div>
        </div>
      </div>
    </div>
  </div>
</div><br>

<p id="data-cs" data-cs=<%= @current_step %> ></p>
<div class="containerSwiper ">
    <div class="timelineSwiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <% for step in 0..6 %>
                  <div class="swiper-slide test" style="background-image: url(https://res.cloudinary.com/ded9yhg1e/image/upload/v1593548475/bg1_vlh7jv.jpg" data-year="Step <%= step + 1 %>">
                  <div class="row">
                        <div class="col-4 ml-3">
                          <div class="card-product">
                            <%= image_tag(@articles[step].image, class: "vignette my-3 mr-3") %>
                            <div class="card-product-infos mt-2 text-center">
                              <h2 class="text-dark"><%= @articles[step].title[0..60] + "..." %></h2>
                              <p class="text-justify text-dark card-content pr-3 pb-2"><%= @articles[step].content[0..200] + "..." %></p>
                              <%= link_to "Voir", article_path(@articles[step].id), class: "my-button" %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide-content pourbtn"><span class="timeline-year">Step <%= step + 1 %></span>
                          <h4 class="timeline-title"><%= @steps[step].title %></h4>
                          <%= link_to "Valider ce step",  steps_up_path, class: "btn my-button my-validate myeffect"%>
                      </div>
                       
                      
                  </div>
                  
                <% end %>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
            
        </div>
        
    </div>
</div>




  </div>
</div>
