<!DOCTYPE html>
<html>
  <head>
    <title>UPYA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper@6.0.4/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper@6.0.4/swiper-bundle.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>

    <script src="https://unpkg.com/swiper@6.0.4/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper@6.0.4/swiper-bundle.min.js"></script>
   

  </body>
</html>
